<div class="row">
    <div class="col-xs-12">
        <p>Add new Server or BLueprint</p>
        <label for=""> Server Name</label>
        <input type="text" class="form-control"[(ngModel)]="newServerName">
        <label for="">Server Content</label>
        <input type="text" class="form-control"[(ngModel)]="newServerContent">
        <br>
        <button class="btn btn-primary"(click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary"(click)="onRemoveServer()">Add Server</button>
    </div>
</div>